{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}
<div>
    <title>
        Bio
    </title>
    {{>title data="Bio" big=true}}


    <main>
        <section>
            <ul>
                <strong>
                    {{name}}
                </strong>
                <br>
                <br>
                <li>{{birthdate}}
                <li>{{birthplace}}</li>

                <li>{{deathdate}}</li>

                <address>
                    <li> {{deathplace}}</li>
                </address>
                <li>{{nationality}}</li>
                <li>{{occupation}}</li>

                <hr>

                <em><b>known_for</b></em>

                {{#each known_for}}
                <var>
                    <li>{{this}}</li>
                </var>
                {{/each}}

                <hr>

                <em><b>education</b></em>

                {{#each education}}
                <li>{{degree}}</li>
                <li>{{field}}</li>
                <li>{{institution}}</li>
                <li>{{year}}</li>
                {{/each}}

                <hr>

                <em><b>notable_publications</b></em>

                {{#each notable_publications}}
                <p>
                    <cite>
                        <li>{{title}}</li>
                    </cite>
                </p>
                <li>{{year}}</li>
                <li>{{publisher}}</li>
                {{/each}}

                <hr>

                <em><b>partners</b></em>
                <br>
                <br>
                {{#each partners}}
                <strong>{{name}}</strong>

                <li>{{relationship}}</li>
                <li>{{years}}</li>

                {{/each}}
                <hr>

                <em><b>awards</b></em>

                {{#each awards}}
                <li>{{title}}</li>
                <li>{{year}}</li>
                <p>
                    <li>{{description}}</li>
                </p>
                {{/each}}

                <hr>

                <em><b>influences</b></em>

                {{#each influences}}
                <li>{{this}}</li>
                {{/each}}

                <hr>

                <em><b>influenced</b></em>

                {{#each influenced}}
                <li>{{this}}</li>
                {{/each}}

                <hr>

                <em><b>quotes</b></em>

                <p><q>{{quotes}}</q></p>

                <hr>

                <em><b>major_discoveries</b></em>

                {{#each major_discoveries}}
                <li>{{title}}</li>
                <li>{{year}}</li>
                <p>
                    <li>{{description}}</li>
                </p>
                {{/each}}

                <hr>

                <em><b>contributions</b></em>

                {{#with contributions}}
                <li>{{title}}</li>
                <p>
                    <li>{{description}}</li>
                </p>
                <li>{{year}}</li>
                <li>{{field}}</li>
                {{/with}}

                <hr>
            </ul>
        </section>
    </main>
</div>