<div>

    <title>
        Facebook
    </title>

    {{>title data="Facebook" big=true}}

    <main>
        <section>
            <div>
                <ul>
                    <strong>{{name}}</strong>
                    <br>
                    <br>
                    {{#each users}}
                    <button type="button" class="btn btn-primary">users</button><br>
                    <ul>
                        <li>{{id}}</li>
                        <li><b>{{name}}</b></li>
                        <li>{{gender}}</li>
                        <li>{{age}}</li>
                    </ul>
                    <hr>
                    {{#each friends}}
                    <button type="button" class="btn btn-success">friends</button><br>
                    <ul>
                        <li>{{id}}</li>
                        <li>{{name}}</li>
                        <li>{{gender}}</li>
                        <li>{{age}}</li>
                    </ul>
                    <hr>
                    {{#each mutual_friends}}
                    <button type="button" class="btn btn-warning">mutual_friends</button><br>
                    <ul>
                        <li>{{id}}</li>
                        <li>{{name}}</li>
                        <li>{{gender}}</li>
                        <li>{{age}}</li>
                    </ul>
                    <hr>
                    {{/each}}
                    {{/each}}
                    <hr>
                    {{#each groups}}
                    <button type="button" class="btn btn-info">groups</button><br>
                    <ul>
                        <li>{{id}}</li>
                        <li>{{name}}</li>
                        <li>{{description}}</li>
                    </ul>
                    <hr>

                    {{#each members}}
                    <button type="button" class="btn btn-secondary">members</button>
                    <ul>
                        <li>{{id}}</li>
                        <li>{{name}}</li>
                        <li>{{gender}}</li>
                        <li>{{age}}</li>
                    </ul>
                    <hr>
                    {{/each}}
                    {{/each}}
                    <hr>
                    {{#each groups}}
                    <button type="button" class="btn btn-info">groups</button><br>
                    <ul>
                        <li>{{id}}</li>
                        <li>{{name}}</li>
                        <li>{{description}}</li>
                    </ul>
                    <hr>
                    {{/each}}
                    {{#each members}}
                    <button type="button" class="btn btn-secondary">members</button>
                    <ul>
                        <li>{{id}}</li>
                        <li>{{name}}</li>
                        <li>{{gender}}</li>
                        <li>{{age}}</li>
                    </ul>
                    <hr>

                    {{/each}}

                    {{/each}}

                </ul>


                </ul>
            </div>
        </section>
    </main>
</div>