{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}
<div>

    <title>
        Web
    </title>

    {{>title data="Web" big=true}}

    <main>
        <section>
            <div>
                <ul>
                    {{#with web}}
                    <p><i><b>Languages:</b></i>
                        {{#each languages}}
                        <li>{{name}},{{version}},</li>
                    <p>{{description}}</p>
                    <hr>
                    <p><i><b>Description:</b></i>

                        {{#each elements}}
                    <p><b>{{name}}</b>,{{description}},</p>

                    {{#each attributes}}
                    <p><b>{{name}}</b>,{{description}},</p>
                    {{/each}}
                    {{/each}}

                    {{#each properties}}
                    <p><b>{{name}}</b>,{{description}},</p>

                    {{#each values}}
                    <p><b>{{value}}</b>,{{description}},</p>
                    {{/each}}
                    {{/each}}

                    {{#each functions}}
                    <p><b>{{name}}</b>,{{description}},</p>

                    {{#each parameters}}
                    <p><b>{{name}}</b>,{{type}},{{description}},</p>
                    {{/each}}
                    {{/each}}

                    {{/each}}
                    {{/with}}
                    <br>

                </ul>
            </div>
        </section>
    </main>
</div>