{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<div class="m-3">
    {{#with main}}
    <main>
        <section class="m-4">
            <div class="ms-4">
                {{>title data="Work history" big=true }}</div>
            <div>
                <p class="mb-2">

                <ul class="pb-3">
                    {{#each works}}
                    <li>
                        <div class="pb-5">{{position}}</div>

                        <div class="py-5">
                            {{duration.from}} -
                            {{#if duration.to}}
                            {{duration.to}}
                            {{else}}
                            (досі працюємо)
                            {{/if}}

                        </div>
                        <div class="my-5">{{>link text=company.name href=company.url blank=true noLine=true}}</div>

                        <div>
                            <strong class="mb-5">Projects ({{projectAmount}})</strong>

                        </div>

                        <ul>
                            {{#each projects}}

                            <li class="pb-3">
                                {{#unless company.url}}
                                <div>{{>link text=name href=url blank=true noLine=true}}</div>
                                {{else}}
                                <b>{{company.name}}</b>
                                {{/unless}}

                                <div>
                                    <p class="pb-3">{{about}}</p>
                                </div>
                            </li>
                            <div>
                                <em>"Project stacks"</em>
                            </div>
                            <div>
                                <ul>
                                    {{#each stacks}}
                                    <li class="pb-3">{{name}}</li>
                                    {{/each}}
                                </ul>
                            </div>
                            <br>
                            <strong class="p-3">Project stacks ({{stackAmount}})</strong>

                            <div>
                                <em>"Project awards"</em>
                            </div>

                            <div>
                                <ul>
                                    {{#each awards}}
                                    <li class="pb-3">{{name}}</li>
                                    {{/each}}
                                </ul>
                            </div>
                    </li>
                    {{/each}}
                </ul>
                </li>

                {{/each}}
                </ul>
                </p>
            </div>
        </section>

    </main>
    {{/with}}


</div>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}